{% extends "base.html" %}
 
{% block content %}
    <br>
    <div class="jumbotron">
      <h1 class="display-4">Внимание</h1>
      <p class="lead">Представляем вам кроссовки нового уровня комфорта "Name"</p>
      <hr class="my-4">
      <p>Они используют технологии реактивного двигателя и воздушной подушки</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/products" role="button">Подробнее</a>
      </p>
    </div>
    <div class="jumbotron">
      <h1 class="display-4">О нас</h1>
      <p class="lead">Мы - молодая команда проффессионалов</p>
      <p>Узнайте больше о нас и гарантиях нашего магазина</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Контакты</a>
      </p>
    </div>

{% endblock %}